<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.geek.shardingsphere.mapper.AdPlanMapper">

    <resultMap id="BaseResultMap" type="org.geek.shardingsphere.model.AdPlan">
        <id property="id" column="id" jdbcType="BIGINT" />
        <result property="userId" column="user_id" jdbcType="BIGINT" />
        <result property="planName" column="plan_name" jdbcType="VARCHAR" />
        <result property="planStatus" column="plan_status" jdbcType="INTEGER" />
        <result property="createTime" column="create_time" jdbcType="DATE" />
        <result property="updateTime" column="update_time" jdbcType="DATE" />
    </resultMap>

    <select id="getAdPlan" resultMap="BaseResultMap">
        select * from ad_plan
        where
        <if test="id != null">
            id = #{id}
        </if>
    </select>

    <insert id="addAdPlan" parameterType="object">
        insert into ad_plan(user_id, plan_name, plan_status) values (#{model.userId},#{model.planName},#{model.planStatus})
    </insert>

</mapper>